body{
	background-image: url(../img/sky.jpg);
}

video{
	position: relative;
	width: 320px;
	height: 240px;
	border: 1px solid black;
	float: left;
	margin: 5px;
}

canvas{
	position: relative;	
	width: 320px;
	height: 240px;
	border: 1px solid black;
	float: left;
	margin: 5px;	
}

#myphoto{
	position: relative;	
	width: 320px;
	height: 240px;
	border: 1px solid black;
	float: left;
	margin: 5px;
}

.step{
	position: relative;
	height: 320px;
}